@using MvcOnlineTricariOtomasyon.Models.Classes
@model List<SalesMotion>
@{
    ViewBag.Title = "DepartmentEmployeSales";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Personel Satis</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı: @ViewBag.dpers</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdir</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Product.ProductName</td>
            <td>@x.Current.CurrentName @x.Current.CurrentSurname</td>
            <td>@x.Price ₺</td>
            <td>@x.Quantity</td>
            <td>@x.TotalPrice</td>
            <td>@Convert.ToDateTime(x.Date).ToString("dd/MM/yyyy")</td>
            <td><a href="#" class="btn btn-default" style="background-color:dodgerblue; color:white">Yazdır</a></td>
        </tr>
    }
</table>