@using MvcOnlineTricariOtomasyon.Models.Classes
@model  List<Invoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>FATURA ID</th>
        <th>FATURA SERİ NO</th>
        <th>FATURA SIRA NO</th>
        <th>VERGİ DAİRESİ</th>
        <th>TARİH</th>
        <th>SAAT</th>
        <th>TESLİM EDEN</th>
        <th>TESLİM ALAN</th>
        <th>TOPLAM</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.InvoiceId</td>
            <td>@x.InvoiceSerialNumber</td>
            <td>@x.InvoiceOrderNumer</td>
            <td>@x.TaxOffice</td>
            <td>@x.Date</td>
            <td>@x.Time</td>
            <td>@x.Deliverer</td>
            <td>@x.Recipient</td>
            <td>@x.Total</td>
            <td><a href="/Invoice/BringInvoice/@x.InvoiceId" class="btn btn-success" style="color:white">Güncelle</a></td>
            <td><a href="/Invoice/DetailInvoice/@x.InvoiceId" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<br />
<a href="/Invoice/AddInvoice/" class="btn btn-primary">Fatura Ekle</a>