@model MvcOnlineTricariOtomasyon.Models.Classes.Product
@{
    ViewBag.Title = "BringProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<h2>Urun Güncelleme</h2>
@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data", id = "productForm"}))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.ProductId)
        <br />
        @Html.LabelFor(x => x.ProductName)
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @required = "required", placeholder = "Ürün adı" })
        <br />
        @Html.LabelFor(x => x.Brand)
        @Html.TextBoxFor(x => x.Brand, new { @class = "form-control", @required = "required", placeholder = "Marka" })
        <br />
        @Html.LabelFor(x => x.Stock)
        <input type="number" class="form-control" name="Stock" value="@Model.Stock" id="Stock" min="0" required />
        @*@Html.TextBoxFor(x => x.Stock, new { @class = "form-control", @required = "required", placeholder = "Stok" })*@
        <br />
        @Html.LabelFor(x => x.PurchasePrice)
        @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control", @required = "required", placeholder = "Alış fiyatı" })
        <br />
        @Html.LabelFor(x => x.SalesPrice)
        @Html.TextBoxFor(x => x.SalesPrice, new { @class = "form-control", @required = "required", placeholder = "Satış fiyatı" })
        <br />
        @Html.LabelFor(x => x.Category.CategoryName)
        @*@Html.TextBoxFor(x => x.Kategori.KategoriAd, new { @class = "form-control" })*@
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vls1, new { @class = "form-control" })
        @*<br />
        @Html.LabelFor(x => x.ProductImage)
        <input type="file" name="ProductImage" />*@
    </div>
    <button id="btnUpdate" class="btn btn-warning" style="color:white">Güncelle</button>
}

<script>
    $(document).ready(function () {
        $('#btnUpdate').click(function (e) {
            e.preventDefault(); 
            var form = document.getElementById('productForm');
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            swal("Ürün başarıyla güncellendi", " ", "success")
                .then((willSubmit) => {
                    if (willSubmit) {
                        form.submit();
                    }
                });
        });
    });
</script>