@model MvcOnlineTricariOtomasyon.Models.Classes.Current
@{
    ViewBag.Title = "AddCurrent";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Cari Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.CurrentName)
    @Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CurrentSurname)
    @Html.TextBoxFor(x => x.CurrentSurname, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CurrentCity)
    @Html.TextBoxFor(x => x.CurrentCity, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CurrentEmail)
    @Html.TextBoxFor(x => x.CurrentEmail, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>