@model MvcOnlineTricariOtomasyon.Models.Classes.Current
@{
    ViewBag.Title = "BringCurrent";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Cari Güncelleme</h2>
<br />
@using (Html.BeginForm("UpdateCurrent", "Current", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.CurrentId)
        @Html.LabelFor(x => x.CurrentName)
        @Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CurrentName, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.CurrentSurname)
        @Html.TextBoxFor(x => x.CurrentSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CurrentSurname, "", new { @style = "color:orange" })
        <br />
        @Html.LabelFor(x => x.CurrentCity)
        @Html.TextBoxFor(x => x.CurrentCity, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CurrentEmail)
        @Html.TextBoxFor(x => x.CurrentEmail, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Status)
        @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning" style="color:white">Güncelle</button>
}