@using MvcOnlineTricariOtomasyon.Models.Classes
@model List<SalesMotion>
@{
    ViewBag.Title = "CustomerSales";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adı: @ViewBag.cari</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Ürün</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Product.ProductName</td>
            <td>@x.Employe.EmployeName @x.Employe.EmployeSurname</td>
            <td>@x.Price</td>
            <td>@x.Quantity</td>
            <td>@x.TotalPrice</td>
            <td>@x.Date.ToShortDateString()</td>
        </tr>
    }
</table>