@model IEnumerable<MvcOnlineTricariOtomasyon.Models.Classes.GroupClassesForBrand>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Marka Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Marka</th>
                    <th>Progress</th>
                    <th style="width: 40px">Toplam</th>
                </tr>
            </thead>
            <tbody>
                @{ int queuenumber = 0;}
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@{queuenumber++;} @queuenumber</td>
                        <td>@x.Brand</td>
                        <td>
                            @if (x.Number >= 1 && x.Number <= 3)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            }
                            @if (x.Number >= 4 && x.Number <= 6)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: 70%"></div>
                                </div>
                            }
                            @if (x.Number >= 7)
                            {
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-success" style="width: 90%"></div>
                                </div>
                            }
                        </td>
                        <td>
                            @if (x.Number >= 1 && x.Number <= 3)
                            {
                                <span class="badge bg-danger">@x.Number</span>
                            }
                            @if (x.Number >= 4 && x.Number <= 6)
                            {
                                <span class="badge bg-yellow">@x.Number</span>
                            }
                            @if (x.Number >= 7)
                            {
                                <span class="badge bg-green">@x.Number</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
