@using MvcOnlineTricariOtomasyon.Models.Classes
@model List<Employe>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>GORSEL</th>
        <th>DEPARTMAN</th>
        <th>GÜNCELLE</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.EmployeId</td>
            <td>@x.EmployeName</td>
            <td>@x.EmployeSurname</td>
            <td>@x.EmployeImage.Substring(0, 10)...</td>
            <td>@x.Department.DepartmentName</td>
            <td><a href="/Employe/BringEmploye/@x.EmployeId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Department/DepartmentEmployeSales/@x.EmployeId" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Employe/AddEmploye/" class="btn btn-primary">Personel Ekle</a>