@model MvcOnlineTricariOtomasyon.Models.Classes.SalesMotion

@{
    ViewBag.Title = "BringSales";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Satış Güncelleme</h2>
<br />
@using (Html.BeginForm("UpdateSales", "Sales", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.SalesId)
        @Html.LabelFor(x => x.Product.ProductName)
        @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Current.CurrentName)
        @Html.DropDownListFor(x => x.CurrentId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Employe.EmployeName)
        @Html.DropDownListFor(x => x.EmployeId, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Quantity)
        @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Price)
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.TotalPrice)
        @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
        <br />
        <button class="btn btn-warning" style="color:white">Güncelle</button>
    </div>
}