@model MvcOnlineTricariOtomasyon.Models.Classes.SalesMotion

@{
    ViewBag.Title = "BringSales";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<h2>Satış Güncelleme</h2>
<br />
@using (Html.BeginForm("UpdateSales", "Sales", FormMethod.Post, new { id = "salesForm" }))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.SalesId)
        @Html.LabelFor(x => x.Product.ProductName)
        @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Current.CurrentName)
        @Html.DropDownListFor(x => x.CurrentId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Employe.EmployeName)
        @Html.DropDownListFor(x => x.EmployeId, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Quantity)
        <input type="number" name="Quantity" value="@Model.Quantity" class="form-control" max="10" min="0" id="Quantity" onchange="sum();" onkeyup="sum();" required placeholder="Adet" />
        @*@Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @required = "required", placeholder = "Adedi" })*@
        <br />
        @Html.LabelFor(x => x.Price)
        <input type="text" name="Price" id="Price" class="form-control" value="@Model.Price" onkeyup="sum();" onchange="sum();" required placeholder="Fiyat">
        @*@Html.TextBoxFor(x => x.Price, new { @class = "form-control", @required = "required", placeholder = "Tutarı" })*@
        <br />
        @Html.LabelFor(x => x.TotalPrice)
        <input type="text" class="form-control" name="TotalPrice" id="TotalPrice" value="@Model.TotalPrice" readonly />
        @*@Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control", @required = "required", placeholder = "Toplam tutarı" })*@
        <br />
        <button id="salesBtn" class="btn btn-warning" style="color:white">Güncelle</button>
    </div>
}

<script>
    function sum() {
        var number1 = document.getElementById('Quantity').value;
        var number2 = document.getElementById('Price').value;
        var result = parseInt(number1) * parseInt(number2);
        if (!isNaN(result)) { /*Sonuç bir sayı mı değil mi onu kontrol eder*/
            document.getElementById('TotalPrice').value = result;
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#salesBtn').click(function (e) {
            e.preventDefault();
            var form = document.getElementById('salesForm');
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }
            swal("Satış başarıyla güncellendi", " ", "success")
                .then((willSubmit) => {
                    if (willSubmit) {
                        form.submit();
                    }
                });
        });
    });
</script>